<%= form_for @note do |f| %>
    <div class="mb-3">
        <label for="note_title" class="form-label">Title</label>
        <%= f.text_field :title, class:"form-control" %><br/>
    </div>
    <div class="mb-3">
        <label for="note_body" class="form-label">Body</label>
        <%= f.text_field :body, class:"form-control" %><br/>
    </div>
    
    <%= f.submit class:"btn btn-primary"%>
<% end %>